<h1>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</h1>

<p>
  <strong>Address</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone Number</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category</strong>
  <%= @restaurant.category %>
</p>

<%= link_to "Edit restaurant", edit_restaurant_path(@restaurant) %>
<%= link_to "Back to restaurant", restaurants_path %>
<%= link_to "Make a Review", new_restaurant_review_path(@restaurant) %>
